{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="white-font">
    <div class="img1">
        <br>
        <br>
        <br>
        <br><br>
        <br>
        <br>
        <br><br>
        <br>
        <br>
        <br>
    </div>
    <div class="container">
        <h1>Hi {{ user.username }}!</h1>
        <p><a href="{% url 'logout' %}">Logout</a></p>
    
        <br>
        <br>
        
        <br>
        <br>
        <br>
        <br>
        .
        <br>
        ..
        ..
        
        <br>
        <br>
        <br>
        <br>
        .
        <br><br>
        <br>
        
        <br>
        <br>
        <br>
        <br>
        .
        <br>
        ..
        ..
        
        <br>
        <br>
        <br>
        <br>
        .
        
    </div>
    

    
    <div class="img2">
        <br>
        <br>
        <br>
        <br><br>
        <br>
        <br>
        <br><br>
        <br>
        <br>
        <br>
    </div>
        
    <div class="container">    
        <h1>Testing....</h1>
        <p> ...
        
        ..
        
        <br>
        <br>
        
        <br>
        <br>
        <br>
        <br>
        .
        <br>
        ..
        ..
        
        
        <br>
        .
        <br>
        ..
        ..
        
        <br>
        <br>
        <br>
        <br>
        .
        <br><br>
        <br>
        <br>
        .
        <br>
        ..
        ..
        
        <br>
        <br>
        <br>
        <br>
        .
        <br>
        ..
        
        ....</p>
    </div>
        
        



    
    <div class="img3">
        <br>
        <br>
        <br>
        <br><br>
        <br>
        <br>
        <br><br>
        <br>
        <br>
        <br><br>
        <br>
        <br>
        <br>
    </div>
    
    <div class="container">
        <h1>Testiiiinnnnnngggggg....</h1>
    <p>
        ....
        //
        <br>
        <br>
        <br>
        <br>
        .
        <br>
        
        
       
        
        
        <br>
        <br>
        .
        <br>
        
        ///
        
        <br>
        <br>
        <br>
        <br>
        .
        <br>
        
        
        
        
        ...
        .
        .
        .
        .
        .<br>
        <br>
        <br>
        <br>
        .
        <br>
        ///
        /
        /
        
        
        ..
        ----------the end and it works! :)-------------
    </p>
    </div>
    
</div>


    
    {% else %}
    
    
    <div class="white-font">
    <div class="img1">
        <br>
        <br>
        <br>
        <br><br>
        <br>
        <br>
        <br><br>
        <br>
        <br>
        <br>
    </div>
    <div class="container">
        <p>You are not logged in.</p>
        <a href="{% url 'login' %}">Login</a> |
        <a href="{% url 'signup' %}">Sign Up</a>
    
        <br>
        <br>
        
        <br>
        <br>
        <br>
        <br>
        .
        <br>
        ..
        ..
        
        <br>
        <br>
        <br>
        <br>
        .
        <br><br>
        <br>
        
        <br>
        <br>
        <br>
        <br>
        .
        <br>
        ..
        ..
        
        <br>
        <br>
        <br>
        <br>
        .
        
    </div>
    

    
    <div class="img2">
        <br>
        <br>
        <br>
        <br><br>
        <br>
        <br>
        <br><br>
        <br>
        <br>
        <br>
    </div>
        
    <div class="container">    
        <h1>Testing....</h1>
        <p> ...
        
        ..
        
        <br>
        <br>
        
        <br>
        <br>
        <br>
        <br>
        .
        <br>
        ..
        ..
        
        
        <br>
        .
        <br>
        ..
        ..
        
        <br>
        <br>
        <br>
        <br>
        .
        <br><br>
        <br>
        <br>
        .
        <br>
        ..
        ..
        
        <br>
        <br>
        <br>
        <br>
        .
        <br>
        ..
        
        ....</p>
    </div>
        
        



    
    <div class="img3">
        <br>
        <br>
        <br>
        <br><br>
        <br>
        <br>
        <br><br>
        <br>
        <br>
        <br><br>
        <br>
        <br>
        <br>
    </div>
    
    <div class="container">
        <h1>Testiiiinnnnnngggggg....</h1>
    <p>
        ....
        //
        <br>
        <br>
        <br>
        <br>
        .
        <br>
        
        
       
        
        
        <br>
        <br>
        .
        <br>
        
        ///
        
        <br>
        <br>
        <br>
        <br>
        .
        <br>
        
        
        
        
        ...
        .
        .
        .
        .
        .<br>
        <br>
        <br>
        <br>
        .
        <br>
        ///
        /
        /
        
        
        ..
        ----------the end and it works! :)-------------
    </p>
    </div>
    
</div>
    
    
    
    {% endif %}
    {% endblock %}